body {
    background-color: #330066;
    padding: 25;
}

h1 {
    color: #FFFFFF;
    text-shadow: 3px 3px gray;
    font-size: 12vh;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    margin: 0;
    padding: 0;
}

h2 {
    color: #FFFFFF;
    text-shadow: 3px 3px gray;
    font-size: 7vh;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    padding: 0;
}

.logo {
    width: 55vh;
    height: 55vh;
    border-radius: 50%;
    border: 2px solid hsl(0, 85%, 50%);
}

.centered {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social {
    display: flex;
    flex: 2;
    padding-top: 20px;
}

.fb-like {
    margin-right: 50px;
}

.text {
    color: white;
    font-family: 'Indie Flower', cursive;
    align-self:flex-start;
    font-size: 3vh;
    margin-bottom: 0;
    padding-bottom: 0;
}