body {
    background-color: #FFFFFF;
}

main {
    width: 100vw;
    height: 100vh;
}

h1 {
    color: #330066;
    text-shadow: 3px 3px gray;
    font-size: 12vh;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

.centered {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
